.shadesWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.shades {
  display: flex;
  flex: 1;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--bottom-side-height);
  // transition: background-color 0.1s ease-in-out;
  // background-color: rgba(255, 0, 0, 0.1);
}

.rangeInput {
  width: 60%;
}
