$desktop: 1020px;

.controls {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: var(--bottom-side-height);
  flex-direction: column;
  gap: 16px;
  padding: 0 40px;
  min-width: 300px;
  scroll-snap-align: center;
  // transition: background-color 0.1s ease-in-out;
  // background-color: rgba(255, 0, 0, 0.1);

  @media (max-width: $desktop) {
    padding: 0 20px;
  }
}

.rangeInput {
  width: 100%;
  // max-width: 600px;
}
