.wrapper {
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.colorsPreview {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
  height: var(--bottom-side-height);
  background-color: rgba(0, 255, 0, 0.1);
}

.sidebarControls {
  display: flex;
  flex-direction: column;
  flex: 1;
}
