@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --bottom-side-height: 380px;

  --color-accesebility: #ffffff;

  --color-primary: #c2c2c2;
  --color-primary-light: #eeeeee;
  --color-primary-semidark: #818181;
  --color-primary-dark: #343434;
  --color-background-dark: #434343;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--color-primary-semidark);
  color: var(--color-accesebility);
}

html,
body {
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--color-background-dark);
}
